
input, 
select,
textarea, 
table {
    appearance: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.wrapper {
    display:block;
    max-width: 1024px;
    margin: auto;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}
.table {
    border: 1px solid rgb(219, 213, 213);
    background-color: rgb(123, 165, 244);
    
    
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    border: 2px solid #000;
    display: block;
    font-size: 15px;
    padding: 5px; 10px;
    border-radius: 10px;
}


label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

.required-field {
    color: red;
}

input::placeholder {
    color: rgb(123, 165, 244);
}

input[type="submit"] {
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(80, 137, 242);
    color: white;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 8px;
}
input[type="submit"]:hover {
    background-color: rgb(3, 40, 108);
    
}

input:focus,
select:focus,
textarea:focus {
    outline:rgb(80, 137, 242) double;
}

input:invalid {
    border: 1px solid red
}