.grid-container {
    display: grid;
    grid-template-columns: 300px 815px;
    grid-template-rows: auto;
   
    

    }
    .grid-item-1 {
        background-color:rgb(203, 231, 243);
        font-family:Arial, Helvetica, sans-serif;
    }
  .name {
    padding-top: 58px;
    padding-right: 85px;
    padding-left: 40px;
     
  }

  .first-name {
    color: rgb(58, 104, 239);
  }

  .cvv-photo {
    width: 300px;
    height: 292px;
  }

  .contact-info {
    padding-right: 43px;
    padding-left: 40px;
    color: #1E1E1E;
    line-height: 5px;
    font-size: 13px;
  }

  .header {
    border-bottom: 4px;
    border-bottom-style: groove;
    border-color:#1E1E1E;
    padding-bottom: 8px;
    padding-top:16px;
  }

  .title {
    font-size: 16px;
  }

  .address {
    padding-top: 2px;
  } 

 .phone {
  padding-top: 10px;
 }

 .email {
  padding-top: 10px;
 }

 .linkedin {
  padding-top: 10px;
 }

 .languages {
  line-height: 1px;
  font-weight: bold;
  padding-top: 10px;
 }

 .grid-item-2 {
  padding-top: 58px;
  padding-right: 85px;
  padding-left: 40px;
  font-family:Arial, Helvetica, sans-serif;
  
 }

 .body-text {
  font-size: 13px;
  font-weight: bold;
 }

 .skills-list-container {
  display: flex;
  flex-direction: row;
  
  
 }

 


 



 
  
 
  
  

  

