:root {
  /* colors */
--color-left-column: rgba(134, 163, 180, 1);
--color-right-column: white;
--color-firt-name: white;
--color-second-name: rgb(58, 104, 239);
--color-font-primary: #1E1E1E;
--collor-border: #1E1E1E;

/* sizes */
--space-left-column: 10px 40px 15px;
--space-padding-top: 5px;
--space-line-height: 5px;
--font-size-primary: 13px;
}

.grid-container {
display: grid;
grid-template-columns: .7fr 3fr;
grid-template-rows: 1fr;
grid-template-areas: 
"grid-item-1"
"grid-item-2";
gap: .3rem;
}
  
.grid-item-1 {
display:block;
background-color: var(--color-left-column);
font-family:Arial, Helvetica, sans-serif;
grid-template-areas: grid-item-1;
}



.name {
padding: var(--space-left-column); 
    
}

.first-name {
color: var(--color-firt-name);
}
  
.second-name {
color: var(--color-second-name);
}

.hire-me{
padding: var(--space-left-column);
}

 
.cvv-photo {
max-width: 100%;
}

.contact-info {
padding: var(--space-left-column);
color: var(--color-font-primary);
line-height: var(--space-line-height);
font-size: var(--font-size-primary);
}

.header {
border-bottom: 5px;
border-bottom-style: groove;
border-color: var(--collor-border);
padding-bottom: 20px;
padding-top:16px;
}

.title {
font-size: 16px;
}

.contact-title {
padding-top: var(--space-padding-top);
font-weight: bold;
line-height: var(--space-line-height);
} 

.plain-text {
font-weight: normal;
}

.grid-item-2 {
background-color: var(--color-right-column);
padding: var(--space-left-column);
font-family:Arial, Helvetica, sans-serif;
grid-template-areas: grid-item-2;
right: 360px;
left: 315px; 
 }


.body-text {
font-size: var(--font-size-primary);
font-weight: bold;
}

.skills-list-container {
display: flex;
flex-direction: row;
}
 
.main-text {
font-size: var(--font-size-primary);
}

.bold-text {
font-weight: bold;
font-size: var(--font-size-primary);
}

 @media screen and (max-width: 450px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: .4fr .4fr;
    grid-template-areas: 
    "grid-item-1"
    "grid-item-2"
    ;
  }

 }
  



 



 
  
 
  
  

  

